.hdr-cont {
    display: block;
    background-color: #153958;
    top: 0;
    padding: 12px 0 12px 0;
    margin: 0;
    position: relative;
    z-index: 5;
}

.hdr-row {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

/*---- customer details ----*/

.cust-det {
    width: 100%;
}
.cust-det-data{

    position: relative;
    z-index: 10;
    /*  display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex; display: flex;*/
    justify-content: center;
    align-items: center;
    align-content: center;


}

.wrap-cust-det {
    width: 100%;
    display: -webkit-box;  display: -ms-flexbox;  display: -webkit-flex; display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    z-index: 3;
    margin: 0;
    -webkit-align-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-flow: row;
    -ms-flex-align: center;
    -ms-flex-direction: row;

    align-items: center;


}
.wrap-hdr {
    background: transparent;
    max-height: 125px;
    max-width: 160px;
    position: relative;
    z-index: 2;
    width: 15%;

}

.cust-det-hdr {
    width: 200px;
    height: 200px;
    top:  -40px;
    /* left: 70px; for 900px */
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    text-anchor: middle;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.txt-prv {
    font-size: 30px;
    font-weight: bold;
    color: #2B8FD4;
    width: min-content;
    padding-top: 20%;
    padding-right: 10%;
    text-align: right;
}


.cust-det-ttl {
    padding-right: 0.75em;
    width: calc(100% - 0.75em);
    min-width: 90%;
    font-size: 18px;
}

.cust-det-row {
    width: 100%;
}

.bld {
    font-weight: bold;
}


.cust-det-col {
    /* width: 33%;*/
    flex-grow: 1;
}


/*---- collapse customer details ----*/
input[type='checkbox'] {
    display: none;
}


.mbl-collaps-button {
    flex-flow: row;
    justify-content: space-between;

    -webkit-flex-flow: row;
    -ms-flex: border-box;
}
.lbl-toggle-arr {
    vertical-align: middle;
    color: #FFFFFF;
    width: 10%;
}


.lbl-toggle-txt {
    width: 50%;
    padding-right: 1em;
}
